*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    overflow: hidden;
    background-color: #0a1014;
}

.container{
    max-width: 1860px;
    /* max-width: 1361px; */
    margin: 0 auto;
}

.web{
    width: 100%;
    height: 100%;
    display: flex;
}

/* pagina inicial */

#pagina-inicial{
    width: 65%;
    height: 100%;
    background-image: url("https://pbs.twimg.com/media/FNrf4GcUYAABGR-?format=jpg&name=small");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* pagina inicial */

/* contatos */

.contatos{
    width: 35%;
    height: 100%;
    background: #111b21;
    border-right: 1px solid #505355b9;
}

.header-contatos, .header-mensagem{
    width: 100%;
    height: 82px;
    background-color: #303f47;
}

.header-contatos{
    border-right: 1px solid #505355b9;
}

.minha-img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-image: url("https://pbs.twimg.com/media/FNHfol5WYAQaic9?format=jpg&name=240x240");
    background-size: 100% 100%;
    position: relative;
    top: 10px;
    left: 28px;
}

.pesquisa input{
    width: 90%;
    height: 45px;
    margin: auto;
    background-color: #303f47;
    border-radius: 10px;
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-11%);
    margin-top: 15px;
    margin-bottom: 5px;
    border: 0;
    color:#8696a0;
    padding-left: 70px;
    font-size: 18px;
    outline: none;
}

.pesquisa span{
    color: #8696a0;
    position: relative;
    top: 50px;
    left: 53px;
    z-index: 1;
}

.pesquisa .arrow{
    color: #00a884;
    position: relative;
    top: 48px;
    left: 53px;
    display: none;
}

.pesquisa .material-icons{
    cursor: pointer;
    font-size: 26px;
}

.img-contato{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-image: url("https://pbs.twimg.com/media/FNHgpv-XwAA27Bl?format=jpg&name=240x240");
    background-size: 100% 100%;
    position: relative;
    top: 8px;
    margin-left: 25px;
}

.img-contato-matue{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-image: url("https://pbs.twimg.com/media/FNNlCLyXEAMbIbZ?format=jpg&name=240x240");
    background-size: 100% 100%;
    position: relative;
    top: 8px;
    margin-left: 25px;
}

.numero-contato{
    margin-left: 115px;
    margin-top: -50px;
    color: white;
    height: 70px;
    border-bottom: 1px solid #50535549;
}

.contato{
    /* margin-top: 30px; */
    width: 97%;
    height: 90px;
    cursor: pointer;
    /* background-color: red; */
}

.icon-contatos{
    float: right;
    position: relative;
    top: -25px;
    color: #aebac1;
    width: 180px;
    display: flex;
    justify-content: space-around;
}

.icon-contatos .material-icons{
    font-size: 30px;
    cursor: pointer;
}



.contato:hover{
    background-color: #384952;
    height: 90px;
}


.contato-img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-image: url("https://pbs.twimg.com/media/FNHgpv-XwAA27Bl?format=jpg&name=240x240");
    background-size: 100% 100%;    position: relative;
    top: 10px;
    left: 28px;
}

.contato-numero{
    margin-left: 100px;
    margin-top: -40px;
    color: white;
    height: 70px;
}

/* contatos */

/* mensagem */

.mensagem{
    width: 65%;
    height: 100%;
    background-image: url('https://pbs.twimg.com/media/FNDO8NuXsAIEF1C?format=png&name=small');
    display: none;
    flex-direction: column;
    justify-content: space-between;
}



.escrever{
    width:100%;
    height: 85px;
    background-color: #202c33;
    
}

.escrever input{
    width: 80%;
    height: 57px;
    margin: auto;
    background-color: #303f47;
    border-radius: 10px;
    position:relative;
    top: 22%;
    left: 40%;
    transform: translate(-50%,-80%);
    margin-top: 15px;
    margin-bottom: 5px;
    border: 0;
    color:#8696a0;
    padding-left: 25px;
    font-size: 18px;
    outline: none;
    display: flex;
    flex-direction: row;
}

#mic-escrever{
    color: #aebac1;
    position:relative;
    top: -70%;
    right: 37px;
    transform: translate(-50%,-50%);
    float: right;
    font-size: 36px!important;
    cursor: pointer;
}

#escrever-icons{
    color: #aebac1;
    display: inline-block;
    position:relative;
    top: 55%;
    right: -58px;
    transform: translate(-50%,-50%);
}

#escrever-attach, #escrever-mood, .material-icons{
    font-size: 30px !important;
}

.opcoes{
    width: 100px;
    height: 30px;
    /* background: springgreen; */
    display: inline-block;
    position: relative;
    top: -64px;
    left: 8px;
    float: right;
    color: #aebac1;
}

.opcoes .material-icons{
    font-size: 30px!important;
    cursor: pointer;
}

#more-vert-p-2{
    display: none;
}

.opcoes-more-vert{
    width: 286px;
    height: 286px;
    background-color: #303f47;
    float: right;
    position: relative;
    top: -26px;
    left: 70px;
    display: none;
}

.opcoes-more-vert ul{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    list-style-type: none;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.30); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.30);
}

.opcoes-more-vert-li{
    color: #aebac1;
    padding-top: 10px;
    padding-left: 29px;
    padding-bottom: 15px;
    cursor: pointer;
}

.opcoes-more-vert-li:hover{
    background-color: #212e35;
}

/* mensagem */

/* dados do contato */

.header-dados-do-contato{
    width: 100%;
    height: 82px;
    background-color: #303f47;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dados-do-contato-close{
    padding-left: 30px;
    color: #aebac1;
}

.dados-do-contato-close{
    padding-left: 30px;
    color: #aebac1;
}

.dados-do-contato{
    width: 43%;
    height: 100%;
    background-color: #111b21;
    display: none;
}

.dados-contato{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.img-dados-contato{

}

/* dados do contato */
